
body{
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}
.bounce {
  -webkit-animation: bounce 3.5s infinite;
  animation: bounce 3.5s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  40% {
    -webkit-transform: translateY(-15px) rotate(45deg);
            transform: translateY(-15px) rotate(45deg);
  }
  60% {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  40% {
    -webkit-transform: translateY(-15px) rotate(45deg);
            transform: translateY(-15px) rotate(45deg);
  }
  60% {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
}
.cursor{
  display: inline-block;
  width: 2px;
  background-color: #ccc;
  -webkit-animation: blink 1000ms infinite;
          animation: blink 1000ms infinite;
  position: relative;
  margin-left: 0.2rem;
}
.typing{
  -webkit-animation: none;
          animation: none;
}
@-webkit-keyframes blink {
  0% { background-color: #ccc; }
    49% { background-color: #ccc; }
      50% { background-color: transparent; }
        99% { background-color: transparent; }
          100% { background-color: #ccc; }
}
@keyframes blink {
  0% { background-color: #ccc; }
    49% { background-color: #ccc; }
      50% { background-color: transparent; }
        99% { background-color: transparent; }
          100% { background-color: #ccc; }
}



#background{
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.video-container{
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#video-overlay{
  z-index: 2;
  color: white;
  width: 100%;
  height: inherit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-overlay-textarea{
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.video-text-1 h1{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.with-text-typed{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-text-1 span{
  color: #F33065;
}
.video-button-hyper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 45px;
}
.video-button-hyper a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
}


#video-button {
  position: relative;
  bottom: -50%;
  width: 100%;
  height: 50px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#video-button p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-top: 20px;
  padding: 3px;
  width: 10px;
  height: 10px;
  -webkit-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}

.down {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#video-button:hover .arrow {
  margin-top: 40px;
  -webkit-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}



#particles-js{
  height: 100vh;
  width: 100%;
  overflow: none;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: -1;
}




/*START OF MOBILE HAMBURGER NAVIGATION STYLING*/

.navBar{
  display: none;
  height: 100%;
  width: 300px;
  background-color: black;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s;

}

.change {
  right: 0;

}
.navigation-mobile ul li{
  list-style: none;
  margin: 20px;
}
.navigation-mobile ul li a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: 'poppins', sans-serif;
  transition: 0.3s color;
}
.navigation-mobile ul li a:hover{
  color: #F33065;
}
.nav-list{
  text-align: right;
}
.hamburger-menu{
  margin-right: 15px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
}

.hamburger-menu .line{
  width: 35px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.8s;
}

.line-2{
  margin: 7px 0;
}


.change .line-1{
  transform: rotateZ(-45deg) translate(-8px, 6px);
}
.change .line-2{
  opacity: 0;
  transform: translate(-30px, 0);
}
.change .line-3{
  transform: rotateZ(45deg) translate(-8px, -6px);
}















.email-constant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: -110px;
  top: 50%;
  z-index: 101;
  color: white;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.email-constant a:hover {
  color: #F33065;
}
.email-constant a{
  text-decoration: none;
  color: white;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}
.wrapper {
  margin: 0 auto 0 auto;
  width: 80%;
  text-align: center;
}
#web-content{
  padding-top: 60px;
}
#about-content p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
  line-height: 1.1;
}

#about-content h2 {
  font-size: 24px;
  color: white;
  font-family: 'Lato', sans-serif;
}
#about-content a {
  color: #4AF4F7;
  text-decoration: none;
  line-height: 2;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
#about-content a:hover{
  color: #F33065;
}

.about-wrap{
  margin: 0px 15% 0px 15%;
}

.services-wrap{
  margin: 0px 15% 0px 15%;
}













/*FAST RESPONSIVE INITUITIVE DYNAMIC LAYOUT*/
.frid {
  display: -ms-grid;
  display: grid;
  width: 84%;
  margin: 0 auto;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (25%)[4];
  grid-template-columns: repeat(4, 20%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.glass{
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 40px;
  padding: 15px;
}
.fast{
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;

}
.responsive{
  -ms-grid-column:2;
  -ms-grid-column-span:1;
  grid-column:2/3;

}
.inituitive{
  -ms-grid-column:3;
  -ms-grid-column-span:1;
  grid-column:3/4;

}
.dynamic{
  -ms-grid-column:4;
  -ms-grid-column-span:1;
  grid-column:4/5;

}

/*CODE KNOWLEDGE SKILLS SECTION*/
.skills-new-container{
  width: 100%;
  margin: 15px 0 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills-new{
  width: 50%;
  background-color: #222;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}
.skills-new section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sn-text{
  width: 100%;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills-svg {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}
.frid img{
  height: 100px;
  width: 100px;
}
/*SERVICES STYLING*/
.services{
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.services-inner{
  height: 380px;
  width: 280px;
  background: rgba(255, 255, 255, 0.2);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
  border-radius: 40px;

}

.services-inner h3{
  font-family: 'lato', sans-serif;
  font-size: 24px;
  margin-top: 30px;
  color: #ccc;
}
.services-inner p{
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 5px 0 5px;
  color: white;
  line-height: 1.1;
  width: 95%;
}

.services-text{

}

.services-image-container-shadow{
  -webkit-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.services-image-container{
  width: 100px;
  height: 100px;
  -webkit-clip-path: circle(50px);
          clip-path: circle(50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services-image-container svg{
  height: 80%;
  width: 80%;
}

.centre-service{
  margin: 0 25px;
}










/*PORTFOLIO STYLING*/
.portfolioBackground{
  background: rgba(255, 255, 255, 0.2);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
  border-radius: 50px;
  margin-top: 200px;
  height: 1200px;
  color: white;
}

.portfolio-inner{
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-inner-left{
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.portfolio-inner-left-image-container{
  width:100%;
  height: 100%;
  margin-top: 30px;
}
.portfolio-inner-left-image-container img{
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolio-inner-right{
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.portfolio-inner-right h2 {
  font-family: 'lato', sans-serif;
  margin: 30px 0 0 30px;
  font-size: 24px;
  color: #4AF4F7;
}
.portfolio-inner-right h3 {
  font-family: 'lato', sans-serif;
  margin: 15px 0 0 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.portfolio-inner-right ul li {
  font-family: 'poppins', sans-serif;
  margin: 30px 0 0 50px;
  font-size: 16px;
  text-align: left;
}

.portfolio-button-holder{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}
.portfolio-button-holder div {
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-button-holder div p {
  margin-right: 5px;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.portfolio-button-holder div div p{
  font-weight: 600;
}
.portfolio-button-holder a{
  text-decoration: none;
  color: black;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
}
.portfolioButtons{
  width: 100%;
  height: 100%;
  border: 2px solid #F33065;
  color: #F33065;
  border-radius: 5px;
  transition: color, background-color 0.3s;
}
.portfolioButtons:hover{
  color: white;
  background-color: #F33065;
}

/*PRICING PAGE STYLING*/

.pricingTop{
  width: 100%;
  height: 25vh;
  margin-top: 100px;
}
.pricingTop h1{
  color: white;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-size:50px;
  padding-bottom: 45px;
  margin: 0 60px;
}
.pricingTop h2{
  color: white;
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  letter-spacing: -0.5;
  font-size:24px;
  margin: 0 60px;
}
.pricingTop h3{
  color: white;
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  letter-spacing: -0.5;
  font-size:18px;
  margin: 15px 60px 0 60px;

}
.pricing-prices{
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.price-badge{
  background: rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
  width: 25%;
  border-radius: 40px;
  height: 500px;
}

.price-center{
  width: 30%;
  height: 600px;
  transform: translate(0px, -50px);
}

.pricing-inner{
  margin: 30px;
  height: 100%;
  font-family: 'poppins', sans-serif;
}
.pricing-inner h4{
  color: #4AF4F7;
  font-size: 20px;
  font-weight: 500;
}

.pricing-inner h5{
  color: white;
  padding-top: 15px;
  font-weight: 400;
}

.pricing-inner-price{
  font-size: 60px;
  color: white;
  margin-top: 30px;
}

.pricing-inner-price p::before{
  content:'£';
  font-size: 20px;
  color: #949494;
}
.pricing-inner-price p::after{
  content: 'w/VAT';
  font-size: 16px;
  color: #949494;
}

.pricing-inner-list{
  color: white;
  margin-top: 30px;
}

.pricing-inner-list p{
  margin-bottom: 15px;
  line-height: 1.5;
  color: #c4c4c4;
}
.pricing-inner-list p::before{
  content:'•';
  color: #9e9e9e;
  padding-right: 15px;
}
/*FOOTER*/
#footer{
  position: relative;
  width: 100%;
  margin-top: 180px;
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  height: 160px;
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footerBlog{
  position: relative;
  width: 100%;
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  height: 160px;
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer .footer-wrapper{
  height: inherit;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footerBlog .footer-wrapper{
  height: inherit;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-content{
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-content .footer-emailnumber{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-content .footer-emailnumber h3{
  color: white;
}
.footerCopyright{
  width: 100%;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer p{
  color: white;
}
#footerBlog p{
  color: white;
}
.footer-links{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-contact, .footer-contact a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
  text-decoration: none;
  color: white;
}

#footer .footer-contact a:hover p, .footer-contact a:hover p{
  opacity: 0.9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #f33065;
}
#footerBlog .footer-contact a:hover p, .footer-contact a:hover p{
  opacity: 0.9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #f33065;
}
.footer-contact p{
  margin-right: 5px;
  margin-left: 5px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.footer-contact img{
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

/*THIS IS FOR THE CONTACT PAGE*/

.contact-wrapper{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.contact-info h2{
  font-size: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}

.contact-info p{
  font-size: 18px;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 15px;
  letter-spacing: -0.5;
}

#form-container{
  width: 55%;
  height: 750px;
  margin: 4% auto 12% auto;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(10px);
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 0px 0px 12px grey;
          box-shadow: 0px 0px 12px grey;
  z-index: 0;
  display: flex;
  justify-content: center;
}


#email-form{
  margin: 30px 15px 30px 15px;
  width: 100%;
}
.form-box{
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
  -ms-grid-column: 10;
  -ms-grid-column-span: 11;
  grid-column: 10/21;
  text-align: center;
}
.formNames{
  display: flex;
  height: 5%;
  justify-content: space-between;
  margin-bottom:20px;
}
.form-box .formNames input[type="text"]{
  width: 49%;
  height: 100%;
}
.error {
  color: #eb1a1a;
  display: block;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.form-box h2{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 60px;
}

.form-box input{
  display: block;
  width: 100%;
  border: 1px solid grey;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 4px grey;
          box-shadow: 0px 0px 4px grey;
  padding-left: 5px;
  margin-bottom: 20px;
}
.form-box input[type="text"], .form-box input[type="tel"]{
  height: 5%;
  width:100%;
  padding-left: 15px;
}
.form-box input:focus{
  -webkit-box-shadow: inset 0px 0px 5px grey, 0px 0px 0px white;
          box-shadow: inset 0px 0px 5px grey, 0px 0px 0px white;
  border: 2px solid black;
  outline: 0;
}


.form-box textarea{
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid grey;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 4px grey;
          box-shadow: 0px 0px 4px grey;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  padding: 15px 0 0 15px;
}
.form-box textarea:focus{
  -webkit-box-shadow: inset 0px 0px 5px grey, 0px 0px 0px white;
          box-shadow: inset 0px 0px 5px grey, 0px 0px 0px white;
  border: 2px solid black;
  outline: 0;
}
.g-recaptcha{
  margin: 10px auto 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.form-box button{
  background-color: rgba(255, 0, 0, 0);
  margin-top: 10px;
  border-radius: 10px;
  color: #F33065;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  width: 120px;
  height: 35px;
  border: 2px solid #F33065;
  cursor: pointer;
  transition: 0.3s all;
}

.form-box button:hover{
  background-color: #F33065;
  color: white;
}

.sent {
  color: #65ff31;
  display: block;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.social-contact img{
  width: 45px;
  height: 45px;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.social-contact img:hover{
  opacity: 0.8;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#footer-contact{
  position: relative;
  width: 100%;
  margin-top: 180px;
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  height: 160px;
  background-color: #1E1E1E;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#footer-contact p{
  color: white;
}
#footer-contact .footer-wrapper{
  height: inherit;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*BLOG PAGE STYLING*/
.blogPage{
  background-color: #f0f0f0;
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.blogPage h1{
  text-transform: uppercase;

}
.blogPage p{
  font-size: 18px;
}
.blogPage a{
  text-decoration: none;
}
.blogPageInner{
  display: flex;
  margin-top: 60px;
  height: auto;
}
.blogPageTop{
  width: 100%;
  height: 50vh;
}
.blogPageTop video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogPage h1, .blogPage h2, .blogPage h3, .blogPage p, .blogPage ul li, .blogPage a{
  color: #222222;
  font-family: 'poppins', sans-serif;
}

.blogLeft{
  width: calc(75% - 45px);
  margin-left: 60px;
  margin-right: 15px;
}

.blogHeader{
  margin-bottom: 30px;
  font-size: 30px;
}
.blogMainImage{
  width: 90%;
  height: 400px;
}

.blogMainImage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.blogDateAuthor{
  display: flex;
  margin-top: 15px;
  margin-bottom: 45px;
  font-size: 20px;
  opacity: 0.8;
}
.blogAuthor{
  margin-left: 30px;
}


/*BLOG PAGE BLOG CONTENT STYLES*/


.blogContent{
  width: 80%;
}
.blogContent a{
  text-decoration: underline;
  text-decoration-color: #2A4573;
}
.blogContent p{
  margin: 15px 0;
  line-height: 1.2;
  font-size: 18px;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
}
.blogContent ul li{
  line-height: 1.2;
  font-size: 18px;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
  margin-left: 20px;
}
.blogContent h3, .relatedBlogs h3{
  font-size: 30px;
  font-family: 'Sofia Pro', sans-serif;
  margin-bottom: 30px;
}




.blogSectionStandard{
  margin: 60px 0;
}

.blogSectionStandard a{
  color:#2A4573;
  transition: all 0.3s ease;
  font-weight: 400;
}
.blogSectionStandard a:hover{
  color: black;
}


.blogSectionStandard img{
  width: 90%;
  height: auto;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 22px -4px #000000;
  box-shadow: 0px 0px 22px -4px #000000;
  margin: 15px 0;
}
/*END OF*/


.blogRight{
  width: 25%;
  margin-right: 60px;
  margin-top: 60px;
  margin-left: 15px;
  height: auto;
}
.blogRight-sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
}
.blogCategories{
  border-top: 1px solid #b0b0b0;
}
.blogCategories h3{
  font-size: 24px;
  padding-top:30px;
}

.blogCategories ul{
  padding: 15px 0;
}
.blogCategories ul li{
  list-style: none;
  padding: 15px 0;
  font-weight: normal;
  font-size: 20px;
}

.blogCategories a{
transition: all 0.3s ease;
}
.blogCategories a:hover{
color:#2A4573;
}
.topBlogInner{
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  width: 100%;
  transition: all 0.3s ease;
}

.topBlogInner:hover{
  background-color: #2A4573;
  border-radius: 20px;
}
.topBlogInner:hover p{
  color: white;
}
.topBlogInnerTop{
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
}

.topBlogInnerTop img{
  height: auto;
  width:100%;
  object-fit: cover;
}

.topBlogInnerBottom{
  margin-top: 15px;
  padding: 0 30px 30px 30px;
}

.topBlogInnerBottom p{
  text-decoration: none;
  opacity: 0.8;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}





.socialShare{
  margin-top: 30px;
  border-bottom: 1px solid #b0b0b0;
}

.socialShareInner{
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
}
.socialButton{
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  justify-content: center;
  transition: all 0.3s ease;
}
.socialButton:hover{
  background-color: #2A4573;
}
.socialButton p{
  color: white;
  font-weight: normal;
}
.socialShareFacebook{
  background-color:#3b5998;
}
.socialShareTwitter{
  background-color: #00ACEE;
  margin-left: 15px;
}
.socialButton svg{
  width: 15px;
  height: auto;
  margin-right: 7.5px;
}




.callToAction{
  border: 2px solid black;
  width: 200px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.callToAction p{
  font-weight: 500;
}
.callToAction.topAction{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.callToAction.bottomAction{
  margin-bottom: 100px;
}
.callToAction a{
  text-decoration: none;
  line-height: 1.8;
  text-align: center;
  font-size: 28px;
}

.callToAction:hover{
  background-color: #2A4573;
  border: 1px solid transparent;
  border-radius: 10px;
}
.callToAction:hover p{
  color: white;
}
.callToAction.rightCTA{
  margin-bottom: 100px;
}

.blogSocials{
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 30px 0 30px 0;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 30px;
}

.blogSocials img{
  width: 50px;
  height: 50px;
  background-color: #1E1E1E;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.blogSocials img:hover{
  background-color: #2A4573;
  border-radius: 20%;
  padding: 2px;
}

.relatedBlogs{
  margin-bottom: 120px;
}
.relatedBlogsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
    width: 100%;
    height: auto;
    grid-gap: 15px;
}
.relatedBlog-post{
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
}
.relatedBlog-post:hover{
  transform: scale(0.95);
}

.relatedBlog-postInner{
  width: 250px;
  height: 250px;
  border: 1px solid #c7c7c7;
}


.relatedBlog-postInner-Top{
  height: 75%;
  width: 100%;
}

.relatedBlog-postInner-Top img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.relatedBlog-postInner-Bottom p{
  margin: 15px;
  text-align: center;
  line-height: 1.2;
}






/*ALL BLOGS PAGE (CATEGORICAL)*/
.allBlogsPage{
  width: 80%;
  margin: 0 auto;
}
.allBlogsPage h1 {
    color: white;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 50px;
    padding-bottom: 45px;
    margin: 100px 60px 0 60px;;
}
.allBlogsPage-featurette{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuretteLeft{
  width: auto;
  height: auto;
}


.featuretteLeftImage{
  width: 700px;
  height: 700px;
  position: relative;
}

.featuretteLeftImage img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.featuretteLeftOverlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
}
.featuretteLeftOverlay h2{
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: white;
}

.featuretteLeftOverlay p{
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 15px;
  color: white;
}




/*---*/

.featuretteRight{
  height: 100%;
  width: 50%;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.featuretteRight a{
  width: 100%;
  text-decoration: none;
  transition: all 0.3s ease;
}
.featuretteLeftImage{
  transition: all 0.3s ease;
}
.featuretteRight a:hover, .featuretteLeftImage:hover{
  transform: scale(0.95);
}
.featuretteRightBlog{
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 100%;
}

.featuretteRightBlogImage{
  width: 300px;
  height: 200px;
}

.featuretteRightBlogImage img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.featuretteRightBlogText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px 0 30px;
  width: 50%;
}

.featuretteRightBlogText p{
  color: white;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 20px;
}




.allBlogsPageMain{
  width: 100%;
  margin: 100px auto 0 auto;
}


.allBlogsPageMain-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-auto-rows: auto;
  grid-gap: 30px;
  height: auto;
}

.allBlogsPage-blog{
  width: 280px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}


.allBlogsPage-blogImage{
  height: 180px;
  width: 100%;
}

.allBlogsPage-blogImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hiddenBlog{
  display: none;
}


@media only screen and (max-width: 1558px){
  .services-wrap {
    margin-right: 4%;
    margin-left: 4%;
  }
  .allBlogsPage-featurette{
    height: 500px;
  }
  .featuretteLeft{
    width: 50%;
  }
  .featuretteLeftImage{
    width: auto;
    height: 500px;
  }
  .featuretteLeftOverlay{
    height: 160px;
  }
  .featuretteLeftOverlay h2{
    font-size: 24px;
  }
  .featuretteLeftOverlay p{
    font-size: 18px;
  }
  .featuretteRight{
    margin-left: 30px;
    width: 50%;
  }
  .featuretteRightBlogImage{
    width: 200px;
    height: 150px;
  }
}

@media only screen and (max-width: 1194px){
  .services-wrap {
    margin-right: 0%;
    margin-left: 0%;
  }
  /*BLOG PAGE*/
  .blogContent{
    width: 95%;
  }
  .blogRight{
    width: 30%;
  }
  /*END OF*/


  .allBlogsPage-featurette{
    height: 400px;
  }

  .featuretteLeftImage{
    width: auto;
    height: 400px;
  }

  .featuretteRight{
    margin-left: 30px;
    width: 50%;
  }

  .featuretteRightBlogImage{
    width: 180px;
    height: 120px;
  }
  .featuretteRightBlogText p{
    font-size: 18px;
  }
}



@media only screen and (max-width: 1100px){
  .about-wrap{
    margin: 0px 0%;
  }
  .frid{
    width: 100%;
    margin: 0 0;
    grid-column-gap: 60px;
  }
}

@media only screen and (max-width: 1074px){
  .price-badge{
    width: 30%;
  }
  .price-center{
    width: 35%;
  }
}
@media only screen and (max-width: 1024px){ /*LAPTOP*/
  .skills-new{
    width: 70%;
  }
  #form-container{
    width: 70%;
  }
}

@media only screen and (max-width: 990px){
  .services{
    height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }

  .services-inner{
    height: 200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services-inner h3{
    margin-top: -5px;
  }
  .services-inner p{
    margin: 5px 15px 0 15px;
  }

  .services-text{
    height: 100%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-image-container-shadow{
  width: 20%;
  }
  .services-image-container{
    width: 100px;
    height: 100px;
    margin-top: -20px;
    margin-left: 15px;
  }
  .centre-service{
    margin: 15px 0px;
  }

  .portfolioBackground{
    height: 2100px;
  }
  .portfolio-inner{
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
  }
  .portfolio-inner-left{
    width: 100%;
  }
  .portfolio-inner-left-image-container{
    width: 70%;
    height: 70%;
    margin-top:15px;
  }
  .portfolio-inner-right{
    width: 80%;
  }
  /*PRICING PAGE STYLING*/
  .pricing-prices{
    flex-direction: column;
  }
  .price-badge{
    width: 100%;
    height: 400px;
  }
  .price-center{
    width: 100%;
    height: 500px;
    transform: translate(0, 0);
    margin: 30px 0px;
  }



  .allBlogsPage-featurette{
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .featuretteLeft{
    display: none;
  }
  .hiddenBlog{
    display: block;
  }
  .featuretteRight{
    margin-left: 0px;
    width: 100%;
    margin-top: 30px;
  }
  .featuretteRight a{
    width: 100%;
    margin-top: 30px;
  }
  .featuretteRightBlogImage{
    width: 200px;
    height: 150px;
  }








}
@media only screen and (max-width: 912px){
  .blogContent{
    width: 100%;
  }
  .blogLeft{
    width: 75%;
    margin-left: 45px;
  }
  .blogRight{
    width: 25%;
    margin-right: 45px;
  }
  .socialButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .socialButton p{
    display: none;
  }
  .socialButton svg{
    margin-right:0;
  }
  .blogSocials{
    width: 100%;
  }
  .blogSocials img{
    width: 30px;
    height: 30px;
  }
  .callToAction.rightCTA{
    width: 120px;
  }
  .callToAction.rightCTA p {
    font-size: 16px;
  }
  .topBlogInnerBottom{
    padding: 0 0 30px 0;
  }
  .topBlogInnerBottom p{
    font-size: 12px;
  }
  .blogPage{
    width: 100%;
  }
  .line.blogPageLine{
    background-color: black;
  }
  .change .line.blogPageLine{
    background-color: white;
  }
  .email-constant.blogPageEmail p, .email-constant.blogPageEmail a{
    color: black;
  }
  .blogRight-sticky{
    top: 60px;
  }
}
@media only screen and (max-width: 820px){
  /*CONTACT PAGE*/


  #footer-contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width:768px){/*STANDARD TABLET SIZE*/
  .skills-new{
    width: 85%;
  }


  .frid {
    -ms-grid-rows: 2fr;
    grid-template-rows: 2fr;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 40%);
  }



  .fast{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .responsive{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .inituitive{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:2;
    -ms-grid-row-span:1;
    grid-row:2/3;
  }
  .dynamic{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row:2;
    -ms-grid-row-span:1;
    grid-row:2/3;
  }
}
@media only screen and (max-width: 685px){
  .blogLeft{
    width: 100%;
    margin-left: 45px;
    margin-right: 45px;
  }
  .blogRight{
    display: none;
  }
}
@media only screen and (max-width: 570px){
  /*VIDEO TEXT*/
  .video-text-1 h1{
    font-size: 26px;
    margin: 0 25px;
  }

  #video-button p{
    font-size: 16px;
  }
  #video-button span .arrow{
    width: 8px;
    height: 8px;
  }
  .with-text-typed{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /*END OF VIDEO TEXT*/


  .skills-new{
    width: 100%;
  }

  .frid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    overflow: visible;
    padding-top: 30px;
  }
  .frid img{
    margin-top: 60px;
  }


  /*SERVICES STYLING*/
  .services{
    height: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }

  .services-inner{
    height: 400px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-inner h3{
    margin-top: -5px;
  }
  .services-inner p{
    margin: 5px 15px 0 15px;
  }

  .services-text{
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-image-container-shadow{
  width: 100%;

  }
  .services-image-container{
    width: 100px;
    height: 100px;
    margin-top: -20px;
    margin-left: 15px;
  }
  .centre-service{
    margin: 15px 0px;
  }







  /*CONTACT PAGE*/
  #form-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-box{
    width: 90%;
  }
  .form-box input{
    width: 310px;
  }
.form-box h2{
  margin-top: 0px;
}
}
@media only screen and (max-width:506px){
  .featuretteRightBlog{
    flex-direction: column;
    height: auto;
  }
  .featuretteRightBlogImage{
    height: auto;
    width: 100%;
  }
  .featuretteRightBlogText{
    width: 100%;
    margin: 0;
  }
  .featuretteRightBlogText p{
    text-align: center;
    margin: 15px;
    padding-left: 0px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 445px){
  .pricing-prices{
    padding-top: 180px;
  }
}

@media only screen and (max-width: 425px){ /*MOBILE*/
  .hamburger-menu{
    top: 15px;
    right: 15px;
  }
  .hamburger-menu-container{
    background-color: #222;
  }
  #closemenu{
    top: 15px;
    right: 15px;
  }
  .hamburger-navigation ul li a{
    font-size: 20px;
  }
  .email-constant{
    display: none;
  }

  .pricing-prices{
    padding-top: 220px;
  }
  .price-center{
    height: 550px;
  }

  .blogMainImage{
    width: 100%;
    height: auto;
  }
  .blogMainImage img{
    height: auto;
  }
  .blogLeft{
    margin-left: 15px;
  }

  /*FOOTER STYLING*/
  #footer{
    height: 180px;
  }
  #footerBlog{
    height: 180px;
  }
  #footer-contact{
    height:180px;
  }
  /*PORTFOLIO SECTION*/

  .portfolio-inner-right ul li{
    margin: 30px 0 0 30px;
  }
}


@media only screen and (max-width: 375px){
  .portfolio-button-holder{
    flex-direction: column;
    justify-content: center;
  }
  .portfolio-button-holder div {
    margin: 15px;
  }
}


@media only screen and (max-width: 336px){
  .pricing-prices{
    padding-top: 300px;
  }
  .price-badge{
    height: 450px;
  }
  .price-center{
    height: 600px;
  }
}
@media only screen and (max-width: 323px){
  .portolio-inner{
    height: 600px;
  }
  .portfolio-inner-right h2{
    text-align: left;
  }
}
